body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #60a3bc !important;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_card {
  height: 400px;
  width: 350px;
  background: #f39c12;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.brand_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background: #60a3bc;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.form_container {
  margin-top: 20px;
}

.input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}

.login_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
  margin-top: 10px;
}

.links {
  margin-top: 10px;
}

